/* RTL Specific Styles */
.rtl {
  direction: rtl;
  text-align: right;
}

.rtl .text-left {
  text-align: right;
}

.rtl .text-right {
  text-align: left;
}

.rtl .mr-2 {
  margin-right: 0;
  margin-left: 0.5rem;
}

.rtl .ml-2 {
  margin-left: 0;
  margin-right: 0.5rem;
}

.rtl .space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}

.rtl .flex-row-reverse {
  flex-direction: row-reverse;
}

/* Adjust dropdown arrows for RTL */
.rtl select {
  background-position: left 0.5rem center;
  padding-left: 2.5rem;
  padding-right: 0.75rem;
}

/* Adjust spacing utilities for RTL */
.rtl .ltr\:space-x-2 {
  direction: ltr;
}
